- title t('about')
.row
  .span12
    %h1= yield :title
    %p
      Who are we?
      Simple, two university students with a dream. A DREAM to create a stable and viable carpooling platform for all! 
    